/* Header */
#walkthrough-progress .active {
	background-color: #0d6aac;
}

#walkthrough-progress {
	margin: 45px 0 10px -35px;
	position: absolute;
	top: 0;
	left: 50%;
}

.circle {
	background-color: #dae8f5;
	border-radius: 4px;
	display: block;
	float: left;
	font-size: 1px;
	height: 8px;
	margin: 3px;
	width: 8px;
}

#skip-button {
	float: right;
	font-size: 1em;
	width: auto;
}

#header-bottom {
	padding: 0 13%;
}

#header-top {
	padding: 0 13%;
}

/* Footer */
#footer th {
	width: 0px;
}

#footer td {
	padding-left: 0px !important;
}

/* General */
.arrow {
	cursor: pointer;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 13%;
	outline: none;
	display: none;
}

#arrow-prev {
	background: url(../images/big_arrow.png) no-repeat center;
	left: 0px;
	-moz-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#arrow-next {
	background: url(../images/big_arrow.png) no-repeat center;
	right: 0px;
}

#arrow-next:hover, #arrow-prev:hover {
	background: url(../images/big_arrow_hover.png) no-repeat center;
}

img.example {
	border: 1px solid #d7d7d7;
	float: left;
	margin: 2px 20px 10px 5px;
	padding: 5px;
}

.options-div {
	border-top: none;
	padding-left: 13% !important;
	padding-right: 13% !important;
}

.button {
	min-width: 77px;
	height: 39px;
	border: none;
	display: block;
	font-size: .875em;
	font-weight: normal;
	font-family: inherit;
	margin: 20px;
	box-shadow: 0px 1px 2px -1px #000;
	cursor: pointer;
	color: #fff;
	box-shadow: none;
}

.button span {
	height: 100%;
	display: block;
	line-height: 39px; /* this plus padding must equal height of button */
	
}

#navigation {
	width: 100%;
	border-top: 1px solid #979797;
	padding-right: -10px;
}

#nav-prev {
	float: left;
	background: transparent url(../images/btn_back_b.png) no-repeat;
	padding: 0 0 0 7px;
}

#nav-prev span {
	background: transparent url(../images/btn_back_a.png) no-repeat scroll top right;
	padding-left: 25px;
	padding-right: 15px;
	text-align: right;
}

#nav-next {
	float: right;
	background: transparent url(../images/btn_next_b.png) no-repeat scroll top right;
	padding: 0 7px 0 0;
}

#nav-next span {
	background: transparent url(../images/btn_next_a.png) no-repeat;
	padding-right: 25px;
	padding-left: 15px;
	text-align: left;
}

#nav-next:disabled {
	background-image: url(../images/btn_next_disabled_b.png);
	cursor: auto;
}

#nav-next:disabled span {
	background-image: url(../images/btn_next_disabled_a.png);
}

.ghostrank-button {
	display: inline-block;
}

#ghostrank-off {
	background: transparent url(../images/btn_disable_ghostrank_b.png) no-repeat;
	padding: 0;
	color: #a8a8a8;
	margin-right: 5px;
}

#ghostrank-off span {
	background: transparent url(../images/btn_disable_ghostrank_a.png) no-repeat scroll top right;
	padding: 0 15px 0 15px;
	text-align: left;
}

#ghostrank-off.enabled {
	background: transparent url(../images/btn_disable_ghostrank_check_b.png) no-repeat !important;
	padding-left: 30px !important;
}

#ghostrank-on {
	background: transparent url(../images/btn_enable_ghostrank_b.png) no-repeat;
	padding: 0;
	color: #fff;
	margin-left: 0;
}

#ghostrank-on.enabled {
	background: transparent url(../images/btn_enable_ghostrank_check_b.png) no-repeat !important;
	padding-left: 30px !important;
}

#ghostrank-on span {
	background: transparent url(../images/btn_enable_ghostrank_a.png) no-repeat scroll top right;
	padding: 0 15px 0 15px;
	text-align: left;
}

